<h1>Name: <%= @outing.name %> </h1>
<h2>Location: <%= @outing.location %> </h2>
<h2>Date: <%= @outing.date.strftime("%m/%d/%y") %> </h2>
<h3>Count of Contestants: <%= @outing.number_of_contestants %></h3>